<a href="/">Home</a>
<h2>Hello Mr Manager, what would you like to do today?</h2>
<nav>
  <ul>
  <li> <a href="/exhibits">Exhibits</a></li>
  <li> <a href="/exhibits/new">Add Exhibit</a></li>

  <li> <a href="/artists">Artists</a></li>
  <li> <a href="/artists/new">Add Artist</a></li>
  <li> <a href="/artists/edit">Edit Artist</a></li>
  <li> <a href="/artists/delete">Delete Artist</a></li>
  </ul>
</nav>
