
<h2>Hello Mr Manager, what would you like to do today?</h2>
<nav id="manager_nav">
  <ul class="exhibits_manager">
      <li> <a href="/exhibits/new">Add Exhibit</a></li>
      <li> <a href="/exhibits/edit">Edit Exhibit</a></li>
      <li> <a href="/exhibits/delete">Delete Exhibit</a></li>
  </ul>
  <ul class="artists_manager">
      <li> <a href="/artists/new">Add Artist</a></li>
      <li> <a href="/artists/edit">Edit Artist</a></li>
      <li> <a href="/artists/delete">Delete Artist</a></li>
  </ul>
</nav>
