<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>V&G Arts</title>
</head>

<h1>Welcome to V&G Arts</h1>

<body>

  <nav>
    <ul>
      <li> <a href="/manager">Manager</a></li>
      <li> <a href="/visitor">Visitor</a></li>
    </ul>
  </nav>

</body>
</html>
