<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
        <title>V&G Arts</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/tables.css">
  <link rel="stylesheet" href="/styles/buttons.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <link rel="icon" href="/images/starrynight.jpeg" />

</head>

  <body>
  <section class="wrapper">
    <header>
        <section class="links">
          <a href="/manager">Manager</a>
          <a id="home" href="/">Home</a>
        </section>
        <section class="topnav">
              <h1 id="vgarts">V&G Arts</h1>
      <h2><a id="artists-button" href="/artists">Artists</a>
    <a id="exhibits-button" href="/exhibits">Exhibits</a></h2>
    </section>
    </header>



    <main>
      <%=yield%>
    </main>

    <footer>CodeClan 2018</footer>

    </section>
  </body>
</html>
