<a href="/">Home</a>
<h3>Select artist to DELETE:</h3>

  <% for artist in @artists %>
    <ul>
      <li><%= artist.full_name%></li>
    </ul>

    <form method="post" action="/artists/<%= artist.id %>/delete">
      <input type="submit" value="Delete!">
    </form>
  <%end%>
