
<h1>Artists</h1>
<table id="artists_table">
  <tr>
    <th>Name</th>
    <th></th>
    <th>Style</th>
    <th></th>
    <th>Bio</th>
  </tr>
  <% @artists.each do |artist| %>

  <tr>
    <td><a href="/artists/<%=artist.id%>">
    <%=artist.full_name()%></a></td>
    <td>|</td>
    <td><%=artist.style()%></td>
    <td>|</td>
    <td><%=artist.bio%></td>
  </tr>

  <% end %>
</table>
