
<h2>Add new Artist</h2>
<form method="post" action="/artists">

  <label for="first_name">First Name:</label>
    <input id="first_name" type="text" name="first_name"/>

  <label for="last_name">Last Name</label>
    <input id="last_name" type="text" name="last_name"/>

  <label for="style">Style</label>
    <input id="style" type="text" name="style"/>

  <label for="bio">Bio:</label>
    <textarea id="bio" name="bio" rows="4" cols="25"></textarea>


  <label for="gallery_id">Gallery Number</label>
    <input id="gallery_id" type="number" name="gallery_id"/>

  <input type='submit' value="Save Artist"/>
</form>
