#artists-button {
  margin: 100px;
  padding-bottom: 50px;
}

#exhibits-button{
  margin: 100px;
  padding-bottom: 100px;
}

#home {
  color: black;
}

.links {
  background-color: white;
  float: right;
}

.home {
  color: black;
  background-color: white;
  float: right;
}

.edit-artist {
  list-style: none;
  text-align: center;
  margin-left: 25%;
  margin-right: 30%;
}

a {
  color: white;
}
a:hover {
  color: tomato;
}

h1 {
  text-align: center;
}
