body {
    background: seagreen url('/images/Sunrise - Monet.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: arial;
    margin: 0;
    padding: 0;
}

#vgarts {
  text-align: center;
  color: steelblue;
  font-size: 50px;
  grid-area: head;
  margin: 0px;
  margin-left: 130px;
}


.wrapper {
  display: grid;
  width: 100%;
  height: 98vh;
  grid-template-areas:
  "head head"
  "main main"
  "foot foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
    margin-top: 0;
}

.wrapper > header {
  text-align: center;
  grid-area: head;
  background-color: white;
  margin: 0;
}


.topnav > header {
  position: static;
  grid-area: head;
}


.wrapper > nav {
  text-align: center;
  grid-area: nav;
  background-color: white;
}

.wrapper > main {
  margin-top: 70px;
  text-align: center;
  grid-area: main;
  overflow: scroll;
}


.wrapper >footer {
  padding: 0px;
  margin: 0px;
  text-align: center;
  grid-area: foot;
  background-color: white;
}
